/* Universal Styles */

 body {

 }

/* Header */
.header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: inline-flex;
  border-bottom: 1px solid black;
}

.header h1 {
  color: MediumAquamarine;
  font-size: 14px;
}

.header li {
  list-style: none;
}

#logo {
display:flex-start;
}

nav ul {
text-align: right;
justify-content: flex-end;
}

nav li {
  display:inline-block;
  justify-content: flex-end;
}

nav a {
  color: black;
}
