/* Universal Styles */


/* Header */

header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  border-bottom: 1px solid black;
  height: 80px;
  align-items: center;
 }

.logo {
  display: flex;
  flex-grow: 1;
  padding-left: 30px;
  align-items: center;
  margin: 10px;
  height: 60px;
  width: 365px;
}
.logo span {
color: Mediumaquamarine;
}
nav {
  display: block;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  padding-right: 30px;
}

nav span {
  display: inline-block;
  justify-content: flex-end;
  align-items: center;
  color: black;
  padding: 20px 10px;
}

nav a {
  color: black;
}

/* Main */

.narrative {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}
.column {
  display: flex;
}
.column.large {
  width: 630px;
  display: flex;
  flex-direction: column;
  margin-right: 32px;

}
.column.medium {
  width: 300px;
  display: flex;
  flex-direction: column;
  margin-right: 32px;

}
.column.small {
  width: 240px;
  display: flex;
  flex-direction: column;
  margin-right: 32px;
}

.column span {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}
/* change just for the main story font-size */
.tuna-image-content span {
  font-size: 40px;
}

.tuna-image-content {
  background-image: url(../images/main.png);
  height: 300px;
  width: 630px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.earth-image-content {
  background-image: url(../images/fall.png);
  height: 300px;
  width: 300px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.memory-image-content {
  background-image: url(../images/hipster.png);
  height: 300px;
  width: 300px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.cats-image-content {
  background-image: url(../images/cat.png);
  height: 300px;
  width: 256px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
/* this is to make all container flexible and arrange them*/
.tuna {
width: 630px;
height: 494px;
}

.stories {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
margin-top:17px;
}
.story {
  display: flex;
  flex-direction: column;
  width: 300px;
}
.orca,
.burger {
  width: 300px;
  height: 250px;
}
.earth,
.memory,
.cats {
  height: 300px;
  width: 300px;
}
img .cookie {
  height: 240px;
  width: 240px;
}
.fbi {
  width: 300px;
}
.small {
  width: 240px;
}
.small h1 {
  font-size: 16px;
  font-weight: bold;
}
.bitecookie {
display: flex;
flex-direction: column;
}
.bite {
  background-color: WhiteSmoke;
   font-family: Verdana !important ;
   font-size: 12px !important ;
   color: DimGray !important ;
   font-weight: normal !important ;
   border-top: 1px solid black;
   border-bottom: 1px solid black;
   padding: 11px 20px;
}

/* this is the footer*/
footer {
  display: flex;
  flex-direction: column;
  background-color: MediumAquamarine;
  margin: auto;
  font-family: Verdana;
  font-size: 12px;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 325px;
  width:100%;
}
footer .title {

 font-family: Georgia;
 font-size: 16px;
 font-weight: bold;
 color: white;
 border-right: 2px solid white;
 padding-right: 25px;
}

.footer-info {
  display:inline-block;
}

footer nav a {
  font-family: Verdana;
  font-size: 12px;
  font-weight: normal;
}
.copyright {
  display: block;
}
