/* Universal Styles */


/* Header */

header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  border-bottom: 1px solid black;
  height: 80px;
  align-items: center;
 }

.logo {
  display: flex;
  flex-grow: 1;
  padding-left: 30px;
  align-items: center;
  margin: 10px;
  height: 60px;
  width: 365px;
}
.logo span {
color: Mediumaquamarine;
}
nav {
  display: block;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  padding-right: 30px;
}

nav span {
  display: inline-block;
  justify-content: flex-end;
  align-items: center;
  color: black;
  padding: 20px 10px;
}

nav a {
  color: black;
}

/* Main */

div {
  border: 1px solid black;
}
.column {
  display: flex;
  border: 1px solid black;
  justify-content: center;
}
.column.large {
  width: 630px;
  display: flex;
  flex-direction: column;

}
.column.medium {
  width: 300px;
  display: flex;
  flex-direction: column;


}
.column.small {
  width: 240px;
  display: flex;
  flex-direction: column;
}
div .tuna span {
  background-image: url(../images/main.png)
}
